/*
Theme Name:   Our Child
Theme URI:    http://example.com/twenty-fifteen-child/
Description:  this is our child theme
Author:       Mathilde og katrine
Template:     astra
Version:      1.6.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/*Importing Yantramanav font from GoogleFonts*/
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

/*Importing Open Sans font from GoogleFonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Righteous&display=swap");

:root {
  --dark_red: #6b1014;
  --spanish_red: #ad1519;
  --dark_yellow: #d8ab00;
  --spanish_yellow: #fabd00;
  --white: #f9f9f9;
  --beige: #e5dac3;
  --green: #465d52;
  --dark_green: #123929;
  --black: #180f0d;
  --dark_orange: #b45223;
  --orange: #e3530e;
  --blue: #6473ff;
}

h1,
h2,
h3 {
  font-family: "Yantramanav";
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}

h4,
p {
  font-family: "Open Sans";
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

 /*Generelt form styling*/
 form {
  background: #e5dac3;
  padding: 8pt 16pt 8pt 16pt;
  margin: 0 auto;
  border: solid;
  border-width: 0.5px;
  border-radius: 2px;
  max-width: 400pt;
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.113);
}
/*Booking jagt styling*/
#booking_jagt_section,
#booking_oplysninger,
#booking_oplysninger_foredrag,
#booking_info {
  max-width: 50%;
  margin: 0 auto;
}

#valg_jagt_form {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}

#valg_af_deltagere,
.ekstra_dage_group,
.navn_efternavn,
.info_container {
  display: flex;
  gap: 8pt;
}

.label_input {
  display: flex;
  flex-direction: column;
  gap: 2pt;
}

/*Footer styling*/

.footer_top {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.footer_middle {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  gap: 24px;
  padding: 8px;
}

.download {
  display: flex;
  gap: 24px;
  padding: 8px;
}

.footer_nyhedsbrev_form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

#sfooter {
  margin: 0 auto;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: var(--dark_red);
  padding: 4px;
}

#footer_logo img {
  width: 50%;
}

.footer_bottom {
  background-color: var(--dark_green);
  display: flex;
  flex-wrap: wrap;
}

/*aren - seværdigheder card styling*/
body {
  margin: 0;
}

#seværdigheder {
  background-color: var(--green);
  width: 100%;
}

#seværdigheder h2 {
  text-align: center;
  align-self: center;
}

.carousel {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  gap: 1rem;
}

.attractions {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.3s ease;
}

.card {
  display: flex;
  flex: 1 0 200px;
  box-sizing: border-box;
  height: 32rem;
  margin: 1rem 0.25em;
  border-radius: 0.25rem;
  overflow: hidden;
  padding: 1rem;
  border: 0px solid var(--black);
  background-color: var(--white);
  box-shadow: 4px 8px 12px 4px #180f0d35;
  flex-direction: column;
  justify-content: flex-start;
}

#prevButton,
#nextButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 72px;
  color: var(--black);
}

#card-image {
  padding: 8px;
  object-fit: cover;
  width: 100%;
  height: 12rem;
  align-self: center;
}

h4.card-title {
  margin: 4px;
  text-align: center;
}

.linebreaker {
  border-top: 2px solid var(--black);
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  /*seværdigheder*/
  .carousel {
    padding: 0rem;
    gap: 0rem;
  }

  #nextButton,
  #prevButton {
    font-size: 24px;
  }
}
